######create helm yaml to run that image to minikube
apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-hellow-app
  namespace: hellow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-hello-app
  template:
    metadata:
      labels:
        app: go-hello-app
    spec:
      containers:
      - name: go-hello-app
        image: tutd3/go-hellow:a8d70440c1a1834e73a7148ef04957ca6c875a06
        ports:
        - containerPort: 3060
        livenessProbe:
          tcpSocket:
            port: 3060
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
        readinessProbe:
          tcpSocket:
            port: 3060
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: 3
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: go-hellow-app
  namespace: hellow
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3060
    protocol: TCP
  selector:
    app: go-hello-app
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: go-hellow-ingress
  namespace: hellow
  annotations:
    kubernetes.io/ingress.class: nginx-public
spec:
  rules:
  - host: go-hellow.com  # Change this to your desired host
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: go-hellow-app
            port:
              number: 80
