name: CD

on:
  push:
    branches:
      - main
env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USER }}
  DOCKERHUB_KEY: ${{ secrets.DOCKER_PASS }}
  IMAGE_NAME: go-hellow

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_KEY }}

      - name: Build Docker image
        run: docker build -t ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }} .

      - name: Push Docker image
        run: docker push ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Update deployment.yaml
        run: |
          cd /home/runner/work/hello/hello/dev
          pwd
          ls
          sed -i 's|image: .*|image: tutd3/go-hellow:${{ github.sha }}|' deployment.yaml
          cat deployment.yaml
